.MuiButton-label svg {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: initial;
}
a:hover {
  text-decoration: none;
  color: initial;
}
.MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
  opacity: 1 !important;
}
.makeStyles-root-8 {
  width: 100% !important;
}
.MuiFab-primary {
  background-color: #515151 !important;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > div,
.MuiFormControl-root {
  margin-top: 20px !important;
}
